.page-title {
  text-align: center;
  font-size: 2.5em;
  margin-top: 30px;
  font-weight: 700;
  color: #333;
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  width: 90%;
  margin: 30px auto;
}

.grid-item {
  background-color: #AEC6CF;
  color: #333;
  padding: 20px;
  border-radius: 5px;
  min-height: 100px;
  text-align: center;
  font-size: 1.5em;
}

.span-item {
  background-color: #FF6961;
  grid-column: 1 / 4;
  font-weight: bold;
  color: white;
}

